@font-face {
  font-family: 'Queir';
  src: url('../fonts/QUEIR-Gay.woff');
}

@font-face {
  font-family: 'LiterataReg';
  src: url('../fonts/LiterataLAT-Regular.woff2');
}

@font-face {
  font-family: 'LiterataDis';
  src: url('../fonts/LiterataLATDisplay-Regular.woff2');
}