@font-face {
  font-family: SinistreDark;
  src: url(../fonts/Sinistre-Dark.woff2);
  /*by Jules Durand*/
}
@font-face {
  font-family: SinistreBold;
  src: url(../fonts/Sinistre-Bold.woff2);
}
@font-face {
  font-family: Sinistre;
  src: url(../fonts/Sinistre-Regular.woff2);
}

@font-face {
  font-family: QUEIR;
  src: url(../fonts/QUEIR-Gay.woff);
}

@font-face {
  font-family: Literata;
  src: url(../fonts/LiterataTT-TextRegular.woff);
}